$header-font-stack: "Oswald", sans-serif;
$font-stack: "Manrope", sans-serif;
$nav-bar: #2C3E50; //This is a temp variable name, will need to flesh out the color scheme at some point

//Header Styling
header {
    font-family: $header-font-stack;
    text-align: center;;
    margin: none;
}

#content {
    font-family: $font-stack;

    #resume {
        h3 {
            font-weight: bold;
            font-size: larger;
        }
    }
}


// Navigation bar styling
.nav-desk {
    background-color: $nav-bar;
    padding: .5%;
    justify-content: center;
    font-family: $font-stack;
    position: sticky;
    top: 0;

    a {
        text-decoration: none;
        color: #FFFFFF;
        display: inline-block;
        margin: auto 2em;
    }
}

#education, #experience {
    margin-bottom: 3.5em;
}

// Create Mobile Styling rules
@media screen and (max-width:430px){ // Mobile Portrait
    .nav-mobile {
        background-color: $nav-bar;
        text-align: end;

        .center {
            text-align: center;
        }

        #links {
            display: none;

            text-align: center;

            a {
                text-decoration: none;
                color: #FFFFFF;
                margin: auto .75em;
            }
        }

        // SVG styling
        svg {
            margin: .5%;
        }
    }

    #gen-info{
        margin-left: .3em;
        margin-right: .3em;;
        h2 {
            text-align: center;
        }
    }

    #education, #experience {
        margin-bottom: 2.5em;
    }

    // Remove Desktop only elements
    #resume {
        display: none;
    }

    .nav-desk {
        display: none;
    }
}