header {
    text-align:center;    
}

body {
    margin: auto 5%;
}

.nav {
    background-color:#2C3E50;
    position:sticky;
    top: 0;
}

.nav a {
    text-decoration: none;
    color:#FFFFFF;
    display:flex;
}